---
layout: default
title: Home
cover: false
---

{% include mathjax.html %}

<header class="main-header" {% if site.cover %} style="background-image: url('{{ site.cover }}');" {%else%}no-cover{% endif %}>
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ "/" | relative_url }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ "feed.xml" | relative_url }}">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description"></h2>
            <div class="nav-links">
              <a href='{{ "blog" | relative_url }}'> Blog </a> |
              <a href='{{ "projects" | relative_url }}'> Projects </a> |
              <a href='{{ "notes-primers" | relative_url }}'> Notes </a> |
              <a href='{{ "about" | relative_url }}'> About me </a>
            </div>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

</main>
