<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-about {% if page.current == 'projects' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}projects">Projects</a></li>
        <li class="nav-about {% if page.current == 'notes-primers' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}notes-primers">Notes</a></li>
        <li class="nav-about {% if page.current == 'archive' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}archive">Archive</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
