---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Projects | Ganessh Kumar";
const pageDescription = "Projects developed by Ganessh Kumar";
const currentPage = "Projects";

const allProjects = await Astro.glob("../pages/projects/*.md");
const featuredProjects = allProjects.sort(
  (a, b) => b.frontmatter.order - a.frontmatter.order
);
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  currentPage={currentPage}
>
  <div class="bg-white">
    <div
      class="flex flex-col h-full max-w-5xl mx-auto bg-white overflow-hidden px-4"
    >
      <main>
        <p class="text-3xl my-2">
          <h1 class="font-bold text-3xl">
            <span
              class="tracking-wide underline decoration-sky-500 decoration-4 underline-offset-2"
              >Projects</span
            >
          </h1>
        </p>
        <section class="mb-10">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-8 mt-10">
            {
              featuredProjects.map((project) => (
                <ProjectCard project={project} />
              ))
            }
          </div>
        </section>
      </main>
    </div>
  </div>
</BaseLayout>
