---
import { format } from "date-fns";
const { post } = Astro.props;
---

<a
  class="flex justify-between flex-wrap items-center group py-1 no-underline"
  href={post.url}
>
  <div
    class="text-sky-700 dark:text-sky-400 group-hover:underline text-xl w-full lg:w-auto"
  >
    {post.frontmatter.title}
  </div>
  <div class="text-slate-500 dark:text-slate-300 text-base font-mono">
    {format(new Date(post.frontmatter.date), "LLLL d, yyyy")}
  </div>
</a>
<!-- <a
  href={post.url}
  class="group no-underline w-100 p-6 bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <h5
    class="mb-2 mt-0 text-2xl font-bold tracking-tight text-slate-700 dark:text-white"
  >
    {post.frontmatter.title}
  </h5>
  <p class="font-semibold text-sm pt-1 text-slate-400 dark:text-gray-400">
    {format(new Date(post.frontmatter.date), "LLLL d, yyyy")}
  </p>
  <p
    class="font-semibold uppercase text-xs pt-1 text-slate-400 dark:text-gray-400"
  >
    {(post.frontmatter.tags || []).join(", ")}
  </p>
</a> -->
