---
import Social from "./Social.astro";
---

<div>
  <Social platform="twitter" link="https://twitter.com/ganesshkumar" />
  <Social platform="github" link="https://github.com/ganesshkumar" />
  <Social platform="gitlab" link="https://gitlab.com/ganesshkumar" />
  <Social platform="linkedin" link="https://www.linkedin.com/in/ganessh-kumar-r-p-676a4719/" />
</div>